/*
http://getbootstrap.com/components/#navbar-fixed-top
The fixed navbar will overlay your other content, unless you add padding to the top of the <body>. Try out your own values or use our snippet below. Tip: By default, the navbar is 50px high.
Make sure to include this after the core Bootstrap CSS.
*/

body {
    padding-top: 61px;
}


/* Style to add pointer for tabs as recommended by UI Angular bootstrap */

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}


/* Style pre tags for Markup and Javascript tabs */

pre > pre {
    margin-bottom: 0;
    padding: 0;
    border: 0;
}

pre[hljs] {
    padding: 0;
    background-color: #fff;
}

code.javascript {
    span.hljs-comment {
        display: none;
    }
}


/* Keep border color on focus */

.nav-tabs>li.active a:focus {
    border: none;
    border-bottom: 3px solid #213e7f;
}
