/.idea/
/.sass-cache/
/.sonar/
/.tmp/
/app/bower_components/
/app/styles/bootstrap.css
/app/styles/fade.css
/app/styles/grid.css
/app/styles/main.css
/dist/
/doc/
/licenses.json
/nbproject
/node_modules/
/reports/
