<p rest rest-path="topics" rest-id="{{$stateParams.topicId}}" rest-name="topic" rest-loading-text="Loading topic..." rest-error-text="Topic <b>{{$stateParams.topicId}}</b> not found on server."></p>
<h2>{{topic.name}}</h2>
<ul>
    <li ng-repeat="item in topic.items">
        <!--
           Regarding of ui-router, here's another ui-sref directive for links.
           THIS time we are passing parameters
           AND inheriting parameters from active ancestor states. So we don't
           need to resupply the topicId parameter. -->
        <a ui-sref="topics.detail.item({itemId:item.id})">{{item.name}}</a>
    </li>
</ul>
<div ui-view ng-animate="{enter:'fade-enter'}">
    <!-- Example of default content. This content will be replace as soon as
         this ui-view is populate with a template -->
    <small class="muted">Click on a topic field to view and/or edit it.</small>
</div>
