<div class="alert alert-dismissible alert-warning">
    <button angular-ripple class="close" data-dismiss="alert" type="button">&times;</button>
    <h4>Warning!</h4>
    <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna,
        <a angular-ripple class="alert-link" href="#">vel scelerisque nisl consectetur et</a>.</p>
</div>

<div class="alert alert-dismissible alert-danger">
    <button angular-ripple class="close" data-dismiss="alert" type="button">&times;</button>
    <strong>Oh snap!</strong>
    <a angular-ripple class="alert-link" href="#">Change a few things up</a>
    and try submitting again.
</div>

<div class="alert alert-dismissible alert-success">
    <button angular-ripple class="close" data-dismiss="alert" type="button">&times;</button>
    <strong>Well done!</strong>
    You successfully read
    <a angular-ripple class="alert-link" href="#">this important alert message</a>.
</div>

<div class="bs-component">
    <div class="alert alert-dismissible alert-info">
        <button angular-ripple class="close" data-dismiss="alert" type="button">&times;</button>
        <strong>Heads up!</strong>
        This
        <a angular-ripple class="alert-link" href="#">alert needs your attention</a>, but it's not super important.
    </div>
</div>
