<a angular-ripple class="btn btn-default" href="#">Default</a>
<a angular-ripple class="btn btn-primary" href="#">Primary</a>
<a angular-ripple class="btn btn-success" href="#">Success</a>
<a angular-ripple class="btn btn-info" href="#">Info</a>
<a angular-ripple class="btn btn-warning" href="#">Warning</a>
<a angular-ripple class="btn btn-danger" href="#">Danger</a>
<a angular-ripple class="btn btn-action" href="#">Action</a>
<a angular-ripple class="btn btn-link" href="#">Link</a>

<a angular-ripple class="btn btn-default disabled" href="#">Default</a>
<a angular-ripple class="btn btn-primary disabled" href="#">Primary</a>
<a angular-ripple class="btn btn-success disabled" href="#">Success</a>
<a angular-ripple class="btn btn-info disabled" href="#">Info</a>
<a angular-ripple class="btn btn-warning disabled" href="#">Warning</a>
<a angular-ripple class="btn btn-danger disabled" href="#">Danger</a>
<a angular-ripple class="btn btn-action disabled" href="#">Action</a>
<a angular-ripple class="btn btn-link disabled" href="#">Link</a>

<div class="btn-toolbar">
    <div class="btn-group">
        <a angular-ripple class="btn btn-default" href="#">Default</a>
        <a angular-ripple class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a angular-ripple href="#">Action</a>
            </li>
            <li>
                <a angular-ripple href="#">Another action</a>
            </li>
            <li>
                <a angular-ripple href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
                <a angular-ripple href="#">Separated link</a>
            </li>
        </ul>
    </div>

    <div class="btn-group">
        <a angular-ripple class="btn btn-primary" href="#">Primary</a>
        <a angular-ripple class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a angular-ripple href="#">Action</a>
            </li>
            <li>
                <a angular-ripple href="#">Another action</a>
            </li>
            <li>
                <a angular-ripple href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
                <a angular-ripple href="#">Separated link</a>
            </li>
        </ul>
    </div>

    <div class="btn-group">
        <a angular-ripple class="btn btn-success" href="#">Success</a>
        <a angular-ripple class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a angular-ripple href="#">Action</a>
            </li>
            <li>
                <a angular-ripple href="#">Another action</a>
            </li>
            <li>
                <a angular-ripple href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
                <a angular-ripple href="#">Separated link</a>
            </li>
        </ul>
    </div>

    <div class="btn-group">
        <a angular-ripple class="btn btn-info" href="#">Info</a>
        <a angular-ripple class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a angular-ripple href="#">Action</a>
            </li>
            <li>
                <a angular-ripple href="#">Another action</a>
            </li>
            <li>
                <a angular-ripple href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
                <a angular-ripple href="#">Separated link</a>
            </li>
        </ul>
    </div>

    <div class="btn-group">
        <a angular-ripple class="btn btn-warning" href="#">Warning</a>
        <a angular-ripple class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a angular-ripple href="#">Action</a>
            </li>
            <li>
                <a angular-ripple href="#">Another action</a>
            </li>
            <li>
                <a angular-ripple href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
                <a angular-ripple href="#">Separated link</a>
            </li>
        </ul>
    </div>

    <div class="btn-group">
        <a angular-ripple class="btn btn-action" href="#">Warning</a>
        <a angular-ripple class="btn btn-action dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a angular-ripple href="#">Action</a>
            </li>
            <li>
                <a angular-ripple href="#">Another action</a>
            </li>
            <li>
                <a angular-ripple href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
                <a angular-ripple href="#">Separated link</a>
            </li>
        </ul>
    </div>
</div>

<a angular-ripple class="btn btn-primary btn-lg" href="#">Large button</a>
<a angular-ripple class="btn btn-primary" href="#">Default button</a>
<a angular-ripple class="btn btn-primary btn-sm" href="#">Small button</a>
<a angular-ripple class="btn btn-primary btn-xs" href="#">Mini button</a>

<a angular-ripple class="btn btn-action btn-lg" href="#">Large button</a>
<a angular-ripple class="btn btn-action" href="#">Default button</a>
<a angular-ripple class="btn btn-action btn-sm" href="#">Small button</a>
<a angular-ripple class="btn btn-action btn-xs" href="#">Mini button</a>
