<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button angular-ripple class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a angular-ripple class="navbar-brand" href="#"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a angular-ripple href="#">Link
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a angular-ripple href="#">Link</a>
                </li>
                <li class="dropdown">
                    <a angular-ripple aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Dropdown
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                        <li>
                            <a href="#">Another action</a>
                        </li>
                        <li>
                            <a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">Separated link</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">One more separated link</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input class="form-control" placeholder="Search" type="text">
                </div>
                <button angular-ripple class="btn btn-sm btn-action ml-xs" type="submit">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a angular-ripple href="#">Link</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-2" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a angular-ripple class="navbar-brand" href="#"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a angular-ripple href="#">Link
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a angular-ripple href="#">Link</a>
                </li>
                <li class="dropdown">
                    <a angular-ripple aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Dropdown
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a angular-ripple href="#">Action</a>
                        </li>
                        <li>
                            <a angular-ripple href="#">Another action</a>
                        </li>
                        <li>
                            <a angular-ripple href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a angular-ripple href="#">Separated link</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a angular-ripple href="#">One more separated link</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input class="form-control" placeholder="Search" type="text">
                </div>
                <button angular-ripple class="btn btn-sm btn-action ml-xs" type="submit">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a angular-ripple href="#">Link</a>
                </li>
            </ul>
        </div>
    </div>
</nav>