<ul class="pagination">
    <li class="disabled">
        <a angular-ripple href="#">&laquo;</a>
    </li>
    <li class="active">
        <a angular-ripple href="#">1</a>
    </li>
    <li>
        <a angular-ripple href="#">2</a>
    </li>
    <li>
        <a angular-ripple href="#">3</a>
    </li>
    <li>
        <a angular-ripple href="#">4</a>
    </li>
    <li>
        <a angular-ripple href="#">5</a>
    </li>
    <li>
        <a angular-ripple href="#">&raquo;</a>
    </li>
</ul>

<ul class="pagination pagination-lg">
    <li class="disabled">
        <a angular-ripple href="#">&laquo;</a>
    </li>
    <li class="active">
        <a angular-ripple href="#">1</a>
    </li>
    <li>
        <a angular-ripple href="#">2</a>
    </li>
    <li>
        <a angular-ripple href="#">3</a>
    </li>
    <li>
        <a angular-ripple href="#">&raquo;</a>
    </li>
</ul>

<ul class="pagination pagination-sm">
    <li class="disabled">
        <a angular-ripple href="#">&laquo;</a>
    </li>
    <li class="active">
        <a angular-ripple href="#">1</a>
    </li>
    <li>
        <a angular-ripple href="#">2</a>
    </li>
    <li>
        <a angular-ripple href="#">3</a>
    </li>
    <li>
        <a angular-ripple href="#">4</a>
    </li>
    <li>
        <a angular-ripple href="#">5</a>
    </li>
    <li>
        <a angular-ripple href="#">&raquo;</a>
    </li>
</ul>
