<ul class="nav nav-pills">
    <li class="active">
        <a href="#">Home</a>
    </li>
    <li>
        <a angular-ripple href="#">Profile</a>
    </li>
    <li class="disabled">
        <a angular-ripple href="#">Disabled</a>
    </li>
    <li class="dropdown">
        <a angular-ripple class="dropdown-toggle" data-toggle="dropdown" href="#">
            Dropdown
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a angular-ripple href="#">Action</a>
            </li>
            <li>
                <a angular-ripple href="#">Another action</a>
            </li>
            <li>
                <a angular-ripple href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
                <a angular-ripple href="#">Separated link</a>
            </li>
        </ul>
    </li>
</ul>

<ul class="nav nav-pills nav-stacked">
    <li class="active">
        <a angular-ripple href="#">Home</a>
    </li>
    <li>
        <a angular-ripple href="#">Profile</a>
    </li>
    <li class="disabled">
        <a angular-ripple href="#">Disabled</a>
    </li>
    <li class="dropdown">
        <a angular-ripple class="dropdown-toggle" data-toggle="dropdown" href="#">
            Dropdown
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a angular-ripple href="#">Action</a>
            </li>
            <li>
                <a angular-ripple href="#">Another action</a>
            </li>
            <li>
                <a angular-ripple href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
                <a angular-ripple href="#">Separated link</a>
            </li>
        </ul>
    </li>
</ul>
