<h1>Requirements</h1>
<p><b>Nodejs</b> and <b>NPM</b> package manager must be installed.</p>

<p>Install <b>bower</b> and <b>grunt-cli</b>.</p>

<pre>
npm install -g bower grunt-cli
</pre>

<p>Install <b>yeoman</b> if it is not installed previously.</p>

<pre>
npm install -g yo
</pre>

<h1>Installing</h1>
<p>Install the Appverse HTML5 generator NPM package.</p>

<pre>
npm install -g generator-appverse-html5
</pre>

<h1>Running</h1>
<p>Create a new project using the <b>generator-appverse-html5</b></p>
<p>Create a directory:</p>

<pre>
mkdir testApp
cd testApp
</pre>

<p>Execute the generator:</p>

<pre>
yo appverse-html5
</pre>

<p><a href="http://yeoman.io" target="_blank">Yeoman</a> will generate a boilerplate project with <b>Appverse - HTML5</b>.</p>

<p>Execute grunt to test it:</p>

<pre>
grunt server
</pre>

<p>or</p>

<pre>
grunt server:open
</pre>

<p>to auto open your default browser with the application.</p>