<div class="container">
    <p class="lead">Server Push Demo</p>
    <p>
        In this demo values from the dummy stockmarket application are generated in server and then sent to the client application.
    </p>
    <p>
        Changes in values are automatically sent to client without previous request.
    </p>
    <p>
        So, the user is notified of changes in a real-time basis.
    </p>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Stock</th>
                <th>BID5</th>
                <th>BID4</th>
                <th>BID3</th>
                <th>BID2</th>
                <th>BID1</th>
                <th>Trade</th>
                <th>ASK1</th>
                <th>ASK2</th>
                <th>ASK3</th>
                <th>ASK4</th>
                <th>ASK5</th>
            </tr>
            <tr>
            </tr>
        </thead>
        <tbody class="stock-data" ng-repeat="stock in stocks">

            <td>
                <span class="badge badge-inverse">{{ stock.st }}</span>
            </td>
            <td>
                <a class="btn btn-primary btn-mini trade-button">
                    <strong>
                        <div id="{{ stock.st }}b5p">{{ stock.b5p }}</div>
                    </strong>
                    <div id="{{ stock.st }}b5v">{{ stock.b5p }}</div>
                </a>
            </td>
            <td>
                <a class="btn btn-primary btn-mini trade-button">
                    <strong>
                        <div id="{{ stock.st }}b4p">{{ stock.b4p }}</div>
                    </strong>
                    <div id="{{ stock.st }}b4v">{{ stock.b4p }}</div>
                </a>
            </td>
            <td>
                <a class="btn btn-primary btn-mini trade-button">
                    <strong>
                        <div id="{{ stock.st }}b3p">{{ stock.b3p }}</div>
                    </strong>
                    <div id="{{ stock.st }}b3v">{{ stock.b3p }}</div>
                </a>
            </td>
            <td>
                <a class="btn btn-primary btn-mini trade-button">
                    <strong>
                        <div id="{{ stock.st }}b2p">{{ stock.b2p }}</div>
                    </strong>
                    <div id="{{ stock.st }}b2v">{{ stock.b2p }}</div>
                </a>
            </td>
            <td>
                <a class="btn btn-primary btn-mini trade-button">
                    <strong>
                        <div id="{{ stock.st }}b1p">{{ stock.b1p }}</div>
                    </strong>
                    <div id="{{ stock.st }}b1v">{{ stock.b1p }}</div>
                </a>
            </td>

            <td>
                <a class="btn btn-primary btn-mini trade-button">
                    <strong>
                        <div id="{{ stock.st }}tp">{{ stock.tp }}</div>
                    </strong>
                    <div id="{{ stock.st }}tv">{{ stock.tv }}</div>
                </a>
            </td>

            <td>
                <a class="btn btn-primary btn-mini trade-button">
                    <strong>
                        <div id="{{ stock.st }}a1p">{{ stock.a1p }}</div>
                    </strong>
                    <div id="{{ stock.st }}a1v">{{ stock.a1v }}</div>
                </a>
            </td>
            <td>
                <a class="btn btn-primary btn-mini trade-button">
                    <strong>
                        <div id="{{ stock.st }}a2p">{{ stock.a2p }}</div>
                    </strong>
                    <div id="{{ stock.st }}a2v">{{ stock.a2v }}</div>
                </a>
            </td>
            <td>
                <a class="btn btn-primary btn-mini trade-button">
                    <strong>
                        <div id="{{ stock.st }}a3p">{{ stock.a3p }}</div>
                    </strong>
                    <div id="{{ stock.st }}a3v">{{ stock.a3v }}</div>
                </a>
            </td>
            <td>
                <a class="btn btn-primary btn-mini trade-button">
                    <strong>
                        <div id="{{ stock.st }}a4p">{{ stock.a4p }}</div>
                    </strong>
                    <div id="{{ stock.st }}a4v">{{ stock.a4v }}</div>
                </a>
            </td>
            <td>
                <a class="btn btn-primary btn-mini trade-button">
                    <strong>
                        <div id="{{ stock.st }}a5p">{{ stock.a5p }}</div>
                    </strong>
                    <div id="{{ stock.st }}a5v">{{ stock.a5v }}</div>
                </a>
            </td>
        </tbody>

    </table>



    <div>
        <button class="btn btn-info btn-primary" ng-click="startPush()">Start data pushing from server</button>
        <button class="btn btn-info btn-primary" ng-click="endPush()">Stop data pushing from server</button>
    </div>
</div>

<!-- Code Highlight -->
<div class="container">
    <div class="col-md-12" ng-controller="PlunkerCtrl">
        <p class="lead"><h3>Review the code..</h3></p>
        <div class="pull-right">
            <button class="btn btn-info" id="plunk-btn" ng-click="edit('1.2.8', '3.0.3', '0.10.0', 'alert')">
                <i class="glyphicon glyphicon-edit"></i> Edit in plunker</button>
        </div>
        <tabset>
            <tab heading="Markup">
                <div plunker-content="markup">
                    <pre ng-non-bindable>
                        <code data-language="html">
                            &lt;div class="container">
                            &lt;p class="lead">Server Push Demo&lt;/p>
                            &lt;p>
                            In this demo values from the dummy stockmarket application are generated in server and then sent to the client application.
                            &lt;/p>
                            &lt;p>
                            Changes in values are automatically sent to client without previous request.
                            &lt;/p>
                            &lt;p>
                            So, the user is notified of changes in a real-time basis.
                            &lt;/p>
                            &lt;table class="table table-bordered table-condensed">
                            &lt;thead>
                            &lt;tr>
                            &lt;th>Stock&lt;/th>
                            &lt;th>BID5&lt;/th>
                            &lt;th>BID4&lt;/th>
                            &lt;th>BID3&lt;/th>
                            &lt;th>BID2&lt;/th>
                            &lt;th>BID1&lt;/th>
                            &lt;th>Trade&lt;/th>
                            &lt;th>ASK1&lt;/th>
                            &lt;th>ASK2&lt;/th>
                            &lt;th>ASK3&lt;/th>
                            &lt;th>ASK4&lt;/th>
                            &lt;th>ASK5&lt;/th>
                            &lt;/tr>
                            &lt;tr>
                            &lt;/tr>
                            &lt;/thead>
                            &lt;tbody class="stock-data" ng-repeat="stock in stocks">

                            &lt;td>
                            &lt;span class="badge badge-inverse">&#123;&#123; stock.st &#125;&#125;&lt;/span>
                            &lt;/td>
                            &lt;td>
                            &lt;a class="btn btn-primary btn-mini trade-button">
                            &lt;strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;b5p">&#123;&#123; stock.b5p &#125;&#125;&lt;/div>
                            &lt;/strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;b5v">&#123;&#123; stock.b5p &#125;&#125;&lt;/div>
                            &lt;/a>
                            &lt;/td>
                            &lt;td>
                            &lt;a class="btn btn-primary btn-mini trade-button">
                            &lt;strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;b4p">&#123;&#123; stock.b4p &#125;&#125;&lt;/div>
                            &lt;/strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;b4v">&#123;&#123; stock.b4p &#125;&#125;&lt;/div>
                            &lt;/a>
                            &lt;/td>
                            &lt;td>
                            &lt;a class="btn btn-primary btn-mini trade-button">
                            &lt;strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;b3p">&#123;&#123; stock.b3p &#125;&#125;&lt;/div>
                            &lt;/strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;b3v">&#123;&#123; stock.b3p &#125;&#125;&lt;/div>
                            &lt;/a>
                            &lt;/td>
                            &lt;td>
                            &lt;a class="btn btn-primary btn-mini trade-button">
                            &lt;strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;b2p">&#123;&#123; stock.b2p &#125;&#125;&lt;/div>
                            &lt;/strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;b2v">&#123;&#123; stock.b2p &#125;&#125;&lt;/div>
                            &lt;/a>
                            &lt;/td>
                            &lt;td>
                            &lt;a class="btn btn-primary btn-mini trade-button">
                            &lt;strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;b1p">&#123;&#123; stock.b1p &#125;&#125;&lt;/div>
                            &lt;/strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;b1v">&#123;&#123; stock.b1p &#125;&#125;&lt;/div>
                            &lt;/a>
                            &lt;/td>

                            &lt;td>
                            &lt;a class="btn btn-primary btn-mini trade-button">
                            &lt;strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;tp">&#123;&#123; stock.tp &#125;&#125;&lt;/div>
                            &lt;/strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;tv">&#123;&#123; stock.tv &#125;&#125;&lt;/div>
                            &lt;/a>
                            &lt;/td>

                            &lt;td>
                            &lt;a class="btn btn-primary btn-mini trade-button">
                            &lt;strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;a1p">&#123;&#123; stock.a1p &#125;&#125;&lt;/div>
                            &lt;/strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;a1v">&#123;&#123; stock.a1v &#125;&#125;&lt;/div>
                            &lt;/a>
                            &lt;/td>
                            &lt;td>
                            &lt;a class="btn btn-primary btn-mini trade-button">
                            &lt;strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;a2p">&#123;&#123; stock.a2p &#125;&#125;&lt;/div>
                            &lt;/strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;a2v">&#123;&#123; stock.a2v &#125;&#125;&lt;/div>
                            &lt;/a>
                            &lt;/td>
                            &lt;td>
                            &lt;a class="btn btn-primary btn-mini trade-button">
                            &lt;strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;a3p">&#123;&#123; stock.a3p &#125;&#125;&lt;/div>
                            &lt;/strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;a3v">&#123;&#123; stock.a3v &#125;&#125;&lt;/div>
                            &lt;/a>
                            &lt;/td>
                            &lt;td>
                            &lt;a class="btn btn-primary btn-mini trade-button">
                            &lt;strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;a4p">&#123;&#123; stock.a4p &#125;&#125;&lt;/div>
                            &lt;/strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;a4v">&#123;&#123; stock.a4v &#125;&#125;&lt;/div>
                            &lt;/a>
                            &lt;/td>
                            &lt;td>
                            &lt;a class="btn btn-primary btn-mini trade-button">
                            &lt;strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;a5p">&#123;&#123; stock.a5p &#125;&#125;&lt;/div>
                            &lt;/strong>
                            &lt;div id="&#123;&#123; stock.st &#125;&#125;a5v">&#123;&#123; stock.a5v &#125;&#125;&lt;/div>
                            &lt;/a>
                            &lt;/td>
                            &lt;/tbody>

                            &lt;/table>

                            &lt;div>
                            &lt;button class="btn btn-info btn-primary" ng-click="startPush()">Start data pushing from server&lt;/button>
                            &lt;button class="btn btn-info btn-primary" ng-click="endPush()">Stop data pushing from server&lt;/button>
                            &lt;/div>
                        </code>
				</pre>
                </div>
            </tab>
            <tab heading="JavaScript">
                <div plunker-content="javascript">
                    <pre ng-non-bindable>
                        <code data-language="javascript">
.controller('serverPushController', ['$scope', '$log', 'SocketFactory',
		function ($scope, $log, SocketFactory) {
			//Checks if the initial stock data set is displayed.
			var loaded = false;

			/*
			Listening the error event from the serverpush module.
			 */
			$scope.$on('socket:error', function (eventName, data) {
				$log.error("Error in socket.io client | Event: " + eventName + ", Data: " + data);
			});

			/*
			Listening the destroy event of the current scope.
			So, communication is bound to the current scope and ends when the scope is destroyed.
			 */
			$scope.$on('$destroy', function () {
				SocketFactory.unsubscribeCommunication(function (s) {
					$log.debug("Disconnected from server when the scope was destroyed: " + s);
				});
			});

			/*
			This function starts communication with server:
			1-requestData sends handshake to server as first communication
			2-initExchangeData populates the table
			3-exchangeData retrieves pushed data from server with changes into the table
			 */
			$scope.startPush = function () {

				/*
				Initializes communication to server
				 */
				SocketFactory.sendMessage('requestData', {}, function () {
					console.log("Requested Data to server.");
				});

				/*
				Retrieves the initial data set.
				The callback is attaching the stock data to the scope.
				 */
				SocketFactory.listen('initExchangeData', function (data) {
					$scope.stocks = data.exchangeData;
					loaded = true;
				});

				/*
				Retrieves updates for the data set.
				The callback is updating the stock data in the scope.
				 */
				SocketFactory.listen('exchangeData', function (deltas) {
					if (loaded) {
						changeValue(deltas);
					}
				});
			};

			$scope.endPush = function () {
				$log.debug("The user has tried to stop server push communication.");
				SocketFactory.unsubscribeCommunication(function () {
					$log.debug("Disconnected from server for pushing purposes.");
				});

			};

			// -----------------
			// Private helpers
			// -----------------

			/*
			Updates the specific stock price/value pair
			 */
			var changeValue = function (deltas) {
				var i;
				for (i = 0; i < $scope.stocks.length; i++) {
					if ($scope.stocks[i].st === deltas.st) {

						$scope.stocks[i].tp = deltas.tp;
						$scope.stocks[i].tv = deltas.tv;

						$scope.stocks[i].b1p = deltas.b1p;
						$scope.stocks[i].b2p = deltas.b2p;
						$scope.stocks[i].b3p = deltas.b3p;
						$scope.stocks[i].b4p = deltas.b4p;
						$scope.stocks[i].b5p = deltas.b5p;

						$scope.stocks[i].b1v = deltas.b1v;
						$scope.stocks[i].b2v = deltas.b2v;
						$scope.stocks[i].b3v = deltas.b3v;
						$scope.stocks[i].b4v = deltas.b4v;
						$scope.stocks[i].b5v = deltas.b5v;

						$scope.stocks[i].a1p = deltas.a1p;
						$scope.stocks[i].a2p = deltas.a2p;
						$scope.stocks[i].a3p = deltas.a3p;
						$scope.stocks[i].a4p = deltas.a4p;
						$scope.stocks[i].a5p = deltas.a5p;

						$scope.stocks[i].a1v = deltas.a1v;
						$scope.stocks[i].a2v = deltas.a2v;
						$scope.stocks[i].a3v = deltas.a3v;
						$scope.stocks[i].a4v = deltas.a4v;
						$scope.stocks[i].a5v = deltas.a5v;
					}
				}
			};

		}
	]);
                        </code>
					</pre>
                </div>
            </tab>
        </tabset>
    </div>
</div>