<div ng-controller="imageWebworkerController">

    <h3>Using Multithreading for a task</h3>

    <div class="form-inline">
        <div class="form-group">
            <label>Number of pooled workers:</label>
            <select class="form-control" ng-model="poolSize" ng-options="threadsNumber.key as threadsNumber.value for threadsNumber in threadsNumbers" ng-change="count=0;execTime=0">
            </select>
        </div>
        <button class="btn btn-primary" ng-click="run()">Run</button>
    </div>
    <br>

    <div class="progress">
        <div class="progress-bar" ng-class="{'progress-bar-striped':starttime, active:starttime, 'progress-bar-success':starttime||execTime}" role="progressbar" ng-style="{width: count / poolSize * 100 + '%'}" style="min-width:10%">
            <span ng-bind="execTime"></span> ms
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <canvas id="source"></canvas>
    </div>
    <div class="col-xs-6">
        <canvas id="target"></canvas>
    </div>
</div>