<!doctype html>
<div ng-controller="imageWebworkerController">

    <h3>Using Multithreading for a task</h3>

    <div class="form-inline">
        <div class="form-group">
            <label>Number of pooled workers:</label>
            <select class="form-control" ng-model="poolSize" ng-options="threadsNumber.key as threadsNumber.value for threadsNumber in threadsNumbers" ng-change="count=0;execTime=0">
            </select>
        </div>
        <button class="btn btn-primary" ng-click="run()">Run</button>
    </div>
    <br>

    <div class="progress">
        <div class="progress-bar" ng-class="{'progress-bar-striped':starttime, active:starttime, 'progress-bar-success':starttime||execTime}" role="progressbar" ng-style="{width: count / poolSize * 100 + '%'}" style="min-width:10%">
            <span ng-bind="execTime"></span> ms
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <img src="images/angularPerformance.jpg" id="source" style="width:100%">
    </div>
    <div class="col-xs-6" id="target" />
</div>
<br>

<div class="panel panel-primary">
    <div class="panel-heading">Explanation</div>
    <div class="panel-body">
        <p>This section includes a heavy load process.
            <br>The process select an area in the picture and extracts the dominant color from a set of complicated statistics. This step is repeated until all the picture area has been analyzed. When an area has been analyzed it is included in the DOM element.
            <br>As you can see, this is the type of task you can include in a web worker.
            <br>
            <br>Select the <b>"Only One Thread"</b> option to check processing time using a single webworker (as commonly used). With the Pool of Workers you can attach a number of threads to parallelized the processing.
            <br>
            <br>Select the <b>"Four threads"</b> option and compare the values in <b>"Time for Execution"</b>.
            <br>Due to the busy threads of the available threads in your browser results can vary from one browser to another. A high number of threads does not guarantee a better performance. Search for the most appropriate number of threads for each specific process. Then, include the value in the configuration (<b>PERFORMANCE_CONFIG.webworker_pooled_threads</b>).</p>
    </div>
</div>
