<h4>Browser IndexedDB Demo</h4>
<p>(IndexedDB offers asynchronous storage of complex data structures)</p>
<p>Try inserting or deleting values in the list.</p>


<form ng-submit="addItem(newItem)">
     <label>Item ID:</label>
     <input type="text" ng-model="newItem.id" size="10" placeholder="id">
     <label>Item Name:</label>
     <input type="text" ng-model="newItem.name" size="20" placeholder="name"><br>
     <label>Item Comment:</label>
     <input type="text" ng-model="newItem.param" size="30" placeholder="comment">
     <button class="btn-primary" type="submit">Add</button>
</form>
<br>

<table class="table table-condensed">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Comment</th>
        <th>Delete</th>
    </tr>
    <tr ng-repeat="item in listOfItems">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.param }}</td>
        <td><span class="pull-right"><a ng-click="removeItem(item.id)">X</a></span></td>
    </tr>
</table>

<h4><a ng-click="removeAll()">Reset to default list</a></h4>
