<div class="row">
    <div class="col-md-6">
        <div ng-include="'views/cache/cache-simpleidb-code.html'"></div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Explanation</div>
            <div class="panel-body">
                <p>IndexedDB is a way for you to persistently store data inside a user's browser.</p>

                <p>Fill in the input form fields and select create/update to add a new item to the database.</p>
                <p>Select an item in the list and edit it within the input form fields, then select create/update to see the changes persist to the database.</p>
            </div>
        </div>
    </div>
</div>


<div>
    <tabset>
        <tab heading="simpleidb-view.html">
            <pre hljs include="'views/cache/cache-simpleidb-code.html'" language="html"></pre>
        </tab>
        <tab heading="simpleidb-controller.js">
            <pre hljs include="'scripts/controllers/simpleidb-controller-code.js'" language="javascript"></pre>
        </tab>
    </tabset>
</div>






