<div >
    <div>
        <h3>Using High Performance controls</h3>
    </div>
    <div class="row">
        <div class="span4" ng-controller="normalGridController">
            <p>Normal performance load</p>
            <div ng-show="execTime != null && execTime != 0">
                <p>Time for render: {{ execTime }} ms.</p>
            </div>
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>

        <div class="span2">
        </div>

        <!--<div class="span4" ng-controller="hpGridController">-->
            <!--<p>High performance load</p>-->
            <!--<div ng-show="execTime != null && execTime != 0">-->
                <!--<p>Time for render: {{ execTime }} ms.</p>-->
            <!--</div>-->
            <!--<div class="gridStyle" ng-grid="gridOptions"></div>-->
        <!--</div>-->
    </div>
</div>