<div class="row">
    <div class="col-md-6">
        <div ng-include src="'views/translation/translation-code.html'"></div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Explanation</div>
            <div class="panel-body">
                <p>We provide <b>i18n (Internationalization)</b> and <b>l10n (Localization)</b> to be able to switch languages on the fly at runtime.</p>

                <p><b>Date, Currency and Number</b> are translated using tmhDynamicLocale plugin which uses <b>angular-locale</b> scripts.</p>

                <p><b>Text</b> is translated via <b>angular-translate</b> plugin: <b><a href="https://angular-translate.github.io/" target="_blank">Official site</a></b></p>

                <p>Just add the code snippets provided below to your Appverse project. Go to the path 'app/resources/i18n' and create a JSON file for the language that you want to support.</p>

                <p>If the JSON file is <b>not found</b> for a specific locale, the text will be kept as it is, non translated. It allows to support localization but not internationalization. <b>Japanese and Arabic</b> are examples of what can be done.</p>

                <p><u>Example</u>: In the HTML there is a key named WELCOME. This key corresponds to the key found in the JSON file at the path 'app/resources/i18n'. You just have to assign the key with desired the value. For example, in a JSON file for Spanish translations you can write "WELCOME": "Bienvenido!" and in another JSON file for English, "WELCOME": "Welcome!".</p>

                <p><u>Note</u>: Please use the translate and translate-values attribute like in the examples for full compatibility.</p>
            </div>
        </div>
    </div>
</div>

<div class="clearfix">
    <div class="pull-right">
        <p>
            <a class="btn btn-primary" href="http://plnkr.co/edit/JP2x6jGvWpBThbc3dM9x?p=preview">View in Plunker</a>
        </p>
    </div>
</div>

<uib-tabset>
    <uib-tab heading="translation-view.html">
        <pre hljs include="'views/translation/translation-code.html'" language="html"></pre>
    </uib-tab>
    <uib-tab heading="translation-controller.js">
        <pre hljs include="'scripts/controllers/translation-controller-code.js'" language="javascript"></pre>
    </uib-tab>
</uib-tabset>