<div class="page-header">
    <h1>RZ slider</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div ng-include src="'views/ui-components/rzslider-code.html'"></div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Explanation</div>
            <div class="panel-body">
                <p>Slider component with Appverse theme applied.</p>
                <p>More examples and code snippets on the <a href="https://github.com/rzajac/angularjs-slider" target="_blank">official website</a>.</p>
            </div>
        </div>
    </div>
</div>
<br>
<uib-tabset>
    <uib-tab heading="HTML">
        <pre hljs include="'views/ui-components/rzslider-code.html'" language="html"></pre>
    </uib-tab>
</uib-tabset>

<div class="page-header">
    <h1>QR code</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div ng-include src="'views/ui-components/qrcode-code.html'"></div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Explanation</div>
            <div class="panel-body">
                <p>QR code component.</p>
                <p>More examples and code snippets on the <a href="https://github.com/janantala/angular-qr" target="_blank">official website</a>.</p>
            </div>
        </div>
    </div>
</div>
<br>
<uib-tabset>
    <uib-tab heading="HTML">
        <pre hljs include="'views/ui-components/qrcode-code.html'" language="html"></pre>
    </uib-tab>
</uib-tabset>

<div class="page-header">
    <h1>Xeditable</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div ng-include src="'views/ui-components/xeditable-code.html'"></div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Explanation</div>
            <div class="panel-body">
                <p>Xeditable component.</p>
                <p>More examples and code snippets on the <a href="http://vitalets.github.io/angular-xeditable" target="_blank">official website</a>.</p>
            </div>
        </div>
    </div>
</div>
<br>
<uib-tabset>
    <uib-tab heading="HTML">
        <pre hljs include="'views/ui-components/xeditable-code.html'" language="html"></pre>
    </uib-tab>
</uib-tabset>