<div class="container">
    <p class="lead">Detection Demo</p>
    <h5>Device</h5>
    <p>Appverse Mobile detected:
        <span class="{{detect.hasAppverseMobile?'text-success':'text-error'}}">{{detect.hasAppverseMobile}}</span>
    </p>
    <p>Mobile Browser detected:
        <span class="{{detect.isMobileBrowser?'text-success':'text-error'}}">{{detect.isMobileBrowser}}</span>
    </p>
    <h5>Network</h5>
    <p>Offline/Online detected:
        <span class="{{detect.isOnline?'text-success':'text-error'}}">{{detect.isOnline?'Online':'Offline'}}</span>
        <button ng-hide="detect.isPollingOnlineStatus" class="btn" ng-click="detect.startPollingOnlineStatus(3000)">Start Polling</button>
        <button ng-show="detect.isPollingOnlineStatus" class="btn" ng-click="detect.stopPollingOnlineStatus()">Stop Polling</button>
    </p>
    <p>Bandwidth detected:
        <span>{{detect.bandwidth}} Kbytes/s</span>
        <button ng-hide="detect.isPollingBandwidth" class="btn" ng-click="detect.startPollingBandwidth(3000)">Start Polling</button>
        <button ng-show="detect.isPollingBandwidth" class="btn" ng-click="detect.stopPollingBandwidth()">Stop Polling</button>
    </p>
</div>
