<div class="container" scrolly-scroll>
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="navbar">Appverse Web HTML5 Resources</h1>
            </div>
            <ul>
                <li><a href="https://github.com/Appverse/appverse-web-html5-showcase">Source code</a>
                </li>
                <li><a href="http://appverse.org">Appverse Web Main Page</a>
                </li>
                <li><a href="https://github.com/Appverse/generator-appverse-html5">Quick Start</a>
                </li>
                <li><a href="">API Reference</a> (Coming soon)</li>
            </ul>
        </div>
    </div>
</div>
