<div class="jumbotron">
    <div class="container">
        <h1>Getting started</h1>
        <p>Get a complete and tailored environment in minutes.</p>
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active">
            <a angular-ripple="" ui-sref="generator"><i class="glyphicon glyphicon-list"></i> Generator</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a angular-ripple="" ui-sref="doc"><i class="glyphicon glyphicon-list"></i> Documentation</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a angular-ripple="" ui-sref="links"><i class="glyphicon glyphicon-list"></i> Links</a>
        </li>
    </ul>
    <div class="well" ui-view autoscroll="false" style="background:white"></div>
</div>
