<div>
    <p class="lead"><h2>Have a look on planned features..</h2></p>
    <div>
        <p class="lead">Routing</p>
        <p>Use the menu bar to navigate.
        Pay attention to the <code>$state</code> and <code>$stateParams</code> values below.</p>
        <p>Regarding of links, click on these links—<a href="#/c?id=1">Security</a> or ' +
        <a href="#/user/2">Styling</a>—to see a url redirect in action.</p>
    </div>
    <div>
         <p class="lead">Styling</p>
        <p>Bootstrap if completely integrated into the framework.
        Pay attention to specific directives.</p>
    </div>
</div>





