<div class="jumbotron">
    <div class="container">
        <h1>Performance</h1>
        <p>Making use of all the browser's power.</p>
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active">
            <a angular-ripple="" ui-sref="webworkers"><i class="glyphicon glyphicon-plane"></i> Web Workers</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a angular-ripple="" ui-sref="dataloading"><i class="glyphicon glyphicon-plane"></i> Data Loading</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a angular-ripple="" ui-sref="cache"><i class="glyphicon glyphicon-plane"></i> IndexedDB</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a angular-ripple="" ui-sref="websocket"><i class="glyphicon glyphicon-plane"></i> Web Socket</a>
        </li>
    </ul>
    <div class="well" ui-view autoscroll="false"></div>
</div>