<div class="jumbotron">
    <div class="container">
        <h1>Security</h1>
        <p>Autenticate users seamlessly.</p>
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active">
            <a angular-ripple="" ui-sref="oauth"><i class="glyphicon glyphicon-plane"></i> OAuth</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a angular-ripple="" ui-sref="roles"><i class="glyphicon glyphicon-plane"></i> User roles</a>
        </li>
    </ul>
    <div class="well" ui-view autoscroll="false"></div>
</div>
